.password {
    display: flex;
    flex-wrap: wrap;
    border: var(--input__border);
    background-color: var(--input__background);
    box-shadow: var(--input__box-shadow);
    border-radius: 2px;
}
.password input[type=password].pswd, .password input[type=text].pswd {
    flex: 1 1 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    background-color: transparent;
}
.password .look {
    position: relative;
    display: block;
    line-height: 0.8;
    padding: 0 9px 0 5px;
    font-size: 40px;
    cursor: pointer;
    border-left: none;
}
.password .look.hidden {
    position: relative;
}
.password .look.hidden::after {
    position: absolute;
    content: "";
    top: 18.5px;
    right: 9px;
    width: 37px;
    height: 4px;
    border-radius: 3px;
    background-color: var(--color);
    transform: rotate(-50deg);
}
.password:focus-within {
    border: var(--inputFocus__border);
    box-shadow: var(--inputFocus__box-shadow);
}

.password.sm .look {
    padding: 0 6px 0 4px;
    font-size: 34px;
}
.password.sm .look.hidden::after {
    top: 15px;
    right: 7.5px;
    width: 30px;
    height: 3px;
}
.password.lg .look {
    line-height: 0.85;
    padding: 0 12px 0 8px;
    font-size: 45px;
}
.password.lg .look.hidden::after {
    top: 22px;
    right: 12px;
    width: 42px;
}